<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Express on Nubo</title>

    <style>
      html, body { font-family: 'Mulish', sans-serif; font-size: 16px; color:
      #fff; background: rgb(200,18,230); background:
      -moz-linear-gradient(135deg, rgba(200,18,230,1) 0%, rgba(100,45,255,1)
      100%); background: -webkit-linear-gradient(135deg, rgba(200,18,230,1) 0%,
      rgba(100,45,255,1) 100%); background: linear-gradient(135deg,
      rgba(200,18,230,1) 0%, rgba(100,45,255,1) 100%); filter:
      progid:DXImageTransform.Microsoft.gradient(startColorstr="#c812e6",endColorstr="#642dff",GradientType=1);
      } * { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing:
      grayscale; } .box { position: absolute; z-index: 10; top: 50%; left: 50%;
      transform: translateX(-50%) translateY(-50%); width: 80%; max-width:
      500px; background: rgba(0,1,4,0.7); border-radius: 10px; box-shadow: 30px
      30px 70px 10px rgba(0,0,0,0.5); -webkit-box-shadow: 30px 30px 70px 10px
      rgba(0,0,0,0.5); -moz-box-shadow: 30px 30px 70px 10px rgba(0,0,0,0.5); }
      .box-header {padding: 40px;} .box-footer { padding: 40px; border-top: 1px
      solid rgba(224,234,249,0.2); } h1 {font-size: 2.5rem; font-weight: 700;
      letter-spacing: 0.1rem; color: #EDDEFF} .box-footer-item { padding: 10px
      0; } @media (min-width: 600px) { .box-footer { display: flex; gap:40px;
      align-items: center; } .box-footer-item {padding: 0;} } @media(min-width:
      1000px) { .box-footer { gap: 60px; } } .label { color: #B3B5C7;
      text-transform: uppercase; font-size: 0.7rem; font-weight: 600;
      margin-bottom: 8px; } .background {position: absolute; z-index: 1; top:
      0;left: 0;width: 100%;height: 100%;} .value {font-weight: 600}
      .logo{position: absolute; z-index: 30; top: 20px; left: 50%; transform:
      translateX(-50%); width: 35px; opacity: 0.5;} @media (min-width: 600px) {
      .logo{width: 40px; top: 30px; left: 30px; transform: translateX(0)} }
    </style>
  </head>

  <body>
    {{{body}}}
  </body>

</html>