<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Express on Nubo</title>

    <style>
      html, body { font-family: 'Mulish', sans-serif; font-size: 16px; } * {
      -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
      body { background-image: url('/background.svg');background-size: cover; }
      .box { position: absolute; top: 50%; left: 50%; transform:
      translateX(-50%) translateY(-50%); width: 80%; max-width: 500px;
      background: #fff; border-radius: 10px; box-shadow: 1px -1px 31px -1px
      rgba(0,0,0,0.075); -webkit-box-shadow: 1px -1px 31px -1px
      rgba(0,0,0,0.075); -moz-box-shadow: 1px -1px 31px -1px rgba(0,0,0,0.075);
      } .box-header {padding: 40px;} .box-footer { padding: 40px; border-top:
      1px solid #f6f7fc; } h1 {font-weight: 600;} .box-footer-item { padding:
      10px 0; } @media (min-width: 600px) { .box-footer { display: flex;
      gap:40px; align-items: center; } .box-footer-item {padding: 0;} }
      @media(min-width: 1000px) { .box-footer { gap: 60px; } } .label { color:
      #B3B5C7; text-transform: uppercase; font-size: 0.7rem; font-weight: 600;
      margin-bottom: 8px; }
    </style>
  </head>

  <body>
    {{{body}}}
  </body>

</html>