{
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html",
        "**/*.handlebars",
        "**/*.hbs"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
