<div class="box">
  <div class="box-header">
    <h1>Express</h1>
  </div>

  <div class="box-footer">
    <div class="box-footer-item">
      <div class="label">Runtime</div>
      <div class="value" style="color: #1CDD97">{{runtime}}</div>
    </div>

    <div class="box-footer-item">
      <div class="label">Region</div>
      <div class="value" style="color: #2ACDD8">{{region}}</div>
    </div>

    <div class="box-footer-item">
      <div class="label">Location</div>
      <div class="value" style="color: #2ACDD8">{{location}}</div>
    </div>
  </div>
</div>