<div class="box">
  <div class="box-header">
    <h1>Express</h1>
  </div>
  <div class="box-footer">
    <div class="box-footer-item">
      <div class="label">Runtime</div>
      <div class="value">{{runtime}}</div>
    </div>

    <div class="box-footer-item">
      <div class="label">Region</div>
      <div class="value">{{region}}</div>
    </div>

    <div class="box-footer-item">
      <div class="label">Location</div>
      <div class="value">{{location}}</div>
    </div>
  </div>
</div>